Clientes.Web/Connected Services/ClientesWcReference/ClienteService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62716/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Clientes.WcService" />
  <xs:element name="ListarClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Clientes.WcService" minOccurs="0" name="ListarClientesResult" nillable="true" type="q1:ArrayOfClienteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Clientes.WcService" minOccurs="0" name="ObterClienteResult" nillable="true" type="q2:ClienteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CriarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Clientes.WcService" minOccurs="0" name="cliente" nillable="true" type="q3:ClienteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CriarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CriarClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Clientes.WcService" minOccurs="0" name="cliente" nillable="true" type="q4:ClienteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AtualizarClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExcluirClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSituacoes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSituacoesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Clientes.WcService" minOccurs="0" name="ListarSituacoesResult" nillable="true" type="q5:ArrayOfSituacaoClienteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>