Clientes.Web/Connected Services/ClientesWcReference/ClienteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Clientes.WcService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Clientes.WcService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClienteModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteModel" nillable="true" type="tns:ClienteModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteModel" nillable="true" type="tns:ArrayOfClienteModel" />
  <xs:complexType name="ClienteModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cpf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataNascimento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSituacao" type="xs:int" />
      <xs:element minOccurs="0" name="NomeSituacao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteModel" nillable="true" type="tns:ClienteModel" />
  <xs:complexType name="ArrayOfSituacaoClienteModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SituacaoClienteModel" nillable="true" type="tns:SituacaoClienteModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSituacaoClienteModel" nillable="true" type="tns:ArrayOfSituacaoClienteModel" />
  <xs:complexType name="SituacaoClienteModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SituacaoClienteModel" nillable="true" type="tns:SituacaoClienteModel" />
</xs:schema>